$color-black: #333333;
$color-white: #ffffff;
$color-purple: #7583a2;

$color-cyan: #2a9da0;
$color-cyan-light: #4ab19e;
$color-cyan-lightest: #e9f1f7;

$color-blue: #115093;
$color-blue-light: #2373b2;
$color-blue-lighter: #5cc4fe;
$color-blue-lightest: #e5f3ff;

$color-grey: #333333;
$color-grey-light: #c5c9d0;
$color-grey-lighter: #d7dbe8;
$color-grey-lightest: #eff2f9;

$color-box-shadow: #e5e7eb;

$color-brown: #dcd3c4;
$color-green: #afd894;
$color-green-light: #80c80b;